.cards-margin
{
    padding: 7px;
    background-color: black;
    margin: 0 30px 0 30px;
}
.card-text-color
{
    color: white;
}
body
{
    background-color:#2d7b93;
}
.contact
{
    margin: 10px;
    padding: 5px;
    width: 600px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}