/*#region base*/
html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #191919;
    font-weight: bold;
}

header,
footer {
    flex-shrink: 0;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.25fr 1.10fr 0.6fr;
    grid-template-rows: 2fr 1fr;
    gap: 7px;
    height: 100%;
    padding: 10px;
}

/*#endregion base*/

/*#region windows*/
.window {
    background-color: #383838;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    padding-top: 30px;
}

.window-left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.window-center {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.window-right {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-color: #383838;
}

.window-bottom {
    grid-column: 1 / span 2;
    grid-row: 2 / 3;
    background-color: #333333;
}

@media all and (max-width: 800px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
    }

    .window-left {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .window-center {
        grid-column: 0;
        grid-row: 0;
        display: none;
    }

    .window-right {
        grid-column: 2 / 2;
        grid-row: 1 / 3;
    }

    .window-bottom {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

/*#endregion windows*/

/*#region socials-tab*/
.left-bar {
    width: 10%;
    height: 100%;
    background-color: #313131;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0px;
    /* Match the border-radius of the parent */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.social-links img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    margin-top: 30px;
    padding-left: 10%;
}

.social-link {
    margin-top: 15px;
    text-align: center;
    max-height: 15%;
    width: 45%;
    padding: 2.5%;
    font-size: 1vmin;
    word-wrap: break-word;
}
.social-link i{
    font-size: 2vmax;
    color: white;
}
.social-link a{
    color: white;
}

@media all and (max-width: 800px) {
    .social-link {
        font-size: 0.8em;
    }
}

/*#endregion socials-tab*/

/*#region project-tab*/
.projects img {
    display: block;
    margin-top: 15px;
    width: 100%;
    object-fit: cover;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50px;
    max-width: 100%;
    padding-left: 10px;
}

.project {
    text-align: center;
    width: 150px;
    max-width: calc(25%);
    padding: 0px 10px 0px 10px;
    font-size: 1.2vw;
}

@media all and (min-width:1150px) {
    .project {
        max-width: calc(100% / 8);
    }
}

@media all and (min-width:700px) and (max-width: 1150px) {
    .project {
        max-width: calc(100% / 7);
    }
}

@media all and (min-width:500px) and (max-width: 700px) {
    .project {
        max-width: calc(100% / 6);
    }
}

@media all and (min-width:300px) and (max-width: 500px) {
    .project {
        max-width: calc(25%);
    }
}

/*#endregion projects-tab*/

/*#region right-tab*/
.about-me {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
}

.info-bar {
    background-color: #3E3E3E;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    border-color: #1A1A1A;
    border-style: solid;
    padding-left: 2%;
    border-width: thin;
    border-right-width: 0px;
    border-left-width: 0px;
    font-size: 1.25vmax;
}

.info {
    padding: 10px 10px 0px 10px;
    background-color: #383838;
    position: relative;
    font-size: 1vmax;
}

.mobile-device-warning {
    margin: 10px;
    font-size: 2vmin;
    text-decoration: underline;
    display: none;
}
@media all and (max-width: 800px) {
    .mobile-device-warning {
        display: block;
    } 
}
.info a{
    color:white;
}

/*#endregion right-tab*/

/*#region window-names*/
.window-name {
    width: 150px;
    max-width: 100%;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    /* Match the border-radius of the parent */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1vmax;
}

.top-border {
    width: 100%;
    height: 30px;
    background-color: #282828;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
    top: 0;
    left: 0;
    /* Match the border-radius of the parent */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.unicode-container,
.text-container,
.spacer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unicode-character {
    width: 33%;
    font-size: 1.2em;
    justify-content: right;

}

.window-name-selected {
    background-color: #3C3C3C;
}

.window-name-unselected {
    background-color: #292929;
    cursor: not-allowed;
}

/*#endregion window-names*/

/*#region miscellaneous*/
.window-bar {
    width: 100%;
    height: 30px;
    background-color: #3C3C3C;
    color: white;

    position: absolute;
    top: 0;
    left: 0;

    margin-top: 30px;
}

/* Navbar styles */
nav {
    background-color: #191919;
    color: #fff;
    padding-left: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    justify-content: left;

    height: 25px;
    margin-top: 5px;
}

.brand {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    line-height: 25px;
}

.brand:hover {
    color: #3C3C3C;
}

/*#endregion miscellaneous*/

/*#region slideshow*/

.slideshow-container {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

}

.mySlides img {
    height: 100%;
    width: 100%;
}

.mySlides {
    height: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slideshow-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}

.active,
.dot:hover {
    background-color: #717171;
}

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/*#endregion slideshow*/

/*#region game*/
#unity-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;
}

#unity-canvas {
    width: 100%;
    height: 100%;
}

#unity-loading-bar {
    width: 20%;
    height: 20%;
}

.unity-desktop {
    margin-top: 30px;
    padding-bottom: 30px;
}
.no-project{
    width: 30%;
    height: 30%;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(21, 21, 21, 0.719);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*#endregion game*/